@import "../base/base";
@import "../base/typography";

.navigation {
  display: flex;
  justify-content: flex-end;

  .navigation__list {
    padding: 0px 20px;
    margin: 25px 0;
    position: fixed;
    z-index: 3;
    list-style: none;
  }

  .navigation__list__item {
    display: inline;
    padding: 0 10px;
  }
  
  .navigation__link {
    font-family: $secondary-font;
    font-weight: 100;
    color: black;
    text-decoration: none;
    position: relative;

    transition: all 0.3s ease 0s;
  }

  &__link:hover {
    color: #27eebe;
  }
  
}