@import "../base/base";
@import "../base/typography";
@import "../components/button";

$breakpoint-tablet: 768px;

@media screen and (max-width: $breakpoint-tablet) {
  .landing-header {

    .landing-header__sub-heading,
    .landing-header__main,
    .landing-header__job {
      font-size: 1rem;
    }
  
    .landing-header__main {
      font-size: 2rem;
    }
  
    .landing-header__job {
      font-size: 2rem;
    }
  }

  button {
    padding: 10px 50px;
    font-size: 0.8rem;
  }

  .navigation {

    .navigation__list {
      padding: 0px 20px;
      margin: 15px 0;
      z-index: 3;
    }
  
    .navigation__list__item {
      padding: 0 10px;
      font-size: 12px;
    }
    
  }

  .projects {
    padding-left: 11%;
  
    .projects__wrapper {
      width: auto;
      margin-top: 15px;
      padding-right: 11%;

      .projects__sub-heading{
        font-size: 1rem;
      }
            
      .projects__icon {
        font-size: 1.2rem;
      }
    }
  
    .glide {
      margin-top: 8%;

      .glide__slides {
        width: 50%;
      }
    }
  }
}

