@import "../base/base";
@import "../base/typography";

button {
  padding: 15px 80px;
  // background-color: rgba(0, 136, 169, 1);
  background-color: #27eebe;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: #2d5dbc;
  font-family: $secondary-font;
  font-size: 1.2rem;

}

button:hover {
  background-color: rgba(247, 206, 255, 0.979);
}