@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Fira+Mono&family=Roboto+Mono:wght@100&family=Work+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Fira+Mono&family=Roboto+Mono:wght@100&family=Work+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Fira+Mono&family=Roboto+Mono:wght@100&family=Work+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Fira+Mono&family=Roboto+Mono:wght@100&family=Work+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Fira+Mono&family=Roboto+Mono:wght@100&family=Work+Sans:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@use "./base" as *;
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@use "./base" as *;
button {
  padding: 15px 80px;
  background-color: #27eebe;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #2d5dbc;
  font-family: "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-size: 1.2rem;
}

button:hover {
  background-color: rgba(247, 206, 255, 0.979);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@use "./base" as *;
.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navigation .navigation__list {
  padding: 0px 20px;
  margin: 25px 0;
  position: fixed;
  z-index: 3;
  list-style: none;
}

.navigation .navigation__list__item {
  display: inline;
  padding: 0 10px;
}

.navigation .navigation__link {
  font-family: "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-weight: 100;
  color: black;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.navigation__link:hover {
  color: #27eebe;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@use "./base" as *;
.landing-header {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  overflow: hidden;
  padding: 0 25px;
}

.landing-header .landing-header__sub-heading,
.landing-header .landing-header__main,
.landing-header .landing-header__job {
  font-size: 2rem;
  font-family: "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  color: black;
  font-weight: 100;
}

.landing-header .landing-header__main {
  font-size: 3rem;
  font-weight: 100;
}

.landing-header .landing-header__job {
  font-size: 3rem;
  padding-bottom: 25px;
}

.landing-header .landing-header__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  opacity: 0.09;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@use "./base" as *;
.projects {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-left: 13%;
}

.projects .projects__wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: auto;
  margin-top: 20px;
  padding-right: 13%;
  font-family: "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
}

.projects .projects__wrapper .projects__icon {
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 2.2rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #f18080;
  cursor: pointer;
}

.projects .projects__wrapper .projects__icon:hover {
  color: #27eebe;
}

.projects .glide {
  margin-top: 5%;
}

.projects .glide .glide__slides {
  height: 80vh;
  width: 100%;
}

.projects .glide .glide__slides .glide__slide__img {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
/*# sourceMappingURL=main.css.map */